td {
	border:  1px solid #333;
	height:  60px;
	width:  60px;
	text-align:  center;
	vertical-align:  center;
	font-family:  "Helvetica";
	font-size:  30px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 50px;
}
